page-login {
    .rounded {
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 10px;
    margin-bottom: 10px;  
    //$button-md-large-height: 1em !important;

    }
    
}

.login{
//background:  #2F9D66;
}
.imgLogin{
height:40vh !important;
width: auto !important;
}

.boton-login{
    margin-bottom: 20px;
}

.spinner{
    animation: spin 3s infinite;
    /*
    height: 30vh;
    width: 20vw;
    */
    height: auto !important;
    width: auto !important;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}