page-home {
    ion-grid{
        height: 100%;
    }

}
.imgHome{
    height:25vh !important;
    width: auto !important;
}

.mitad{
    height: 45%;
    
    margin: 1%;
}

.cargarCredito{
    background-color: green;
    border: 1px solid;
    box-shadow: 5px 10px;
}

.visor{
    
    background-color: white;
}

.boriti{
    border: 1px solid #eee85d;
    font-style: italic;
    border-radius: 70px 70px 70px 70px;
}

.boton-carga{
    color: white;
    //font-size: 
}

.imgCamera{
    height: 18vh !important;
    width: auto !important;
}
ion-loading.my-loading-class {
    .loading-wrapper {
      background: transparent;
      box-shadow: none;
    }
}